ENVIRONMENT=development
SERVICE_NAME=neuraclinic-location
PORT=8000

DB_HOST=neuraclinic-location-db
DB_PORT=5432
DB_USER=postgres
DB_PASS=example
DB_NAME=neuraclinic-location
DB_SSLMODE=disable

GRPC_TLS_CERT_PATH=/app/certs/public_key.pem
GRPC_TLS_KEY_PATH=/app/certs/private_key.pem

LOCATION_DEFAULT_COUNTRY_CODE=MX
LOCATION_LIMIT_DEFAULT=20
LOCATION_LIMIT_MAX=100
